.topView {
    position: absolute;
    top: 70px;
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: scroll;
}

.bottomView {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
}

.Wrap {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.TMenuBar{
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 20px;
    
}

.TMenuBar span, .TMenuBar p {
    font-size: 20px;
    font-weight: bold;
}

.BMenuBar{
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.BMenuBox{
    width: 50%;
    height: 100%;
    border: 1px solid #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.BMenuBox + .BMenuBox {
    border-left: none;
}

.ContentsBox {
    height : 250px;
    display: flex;
    flex-direction: column;
}

.MainListBox {
    display: flex;
    flex-direction: column;
}